@import url("https://fonts.googleapis.com/css?family=Mansalva&display=swap");

html, body {
  font-family: 'Mansalva', cursive;

  width: 100%;
}

body {
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./images/cubone-pokemon-1200.jpg');
  background-size: cover;
  background-size:contain;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
