@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');

html, body {
  width: 100%;
}

body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


    /* background-image: url('./images/cubone-pokemon-1200.jpg'); */
    background: linear-gradient( rgba(0, 0, 0, 0.11), rgba(0, 0, 0, 0.733)), url('./images/cubone-pokemon-1200.jpg');

    /* background-size: cover; */
    /* background-repeat: no-repeat; */

    font-family: 'Mansalva', cursive;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
